body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #fbfbfb;
}

#root {
  color: #323232;
  overflow-x: visible;
}

#root *::-webkit-scrollbar {
  display: none;
}